@model IEnumerable<CRUD.Models.Workout>

@{
    ViewData["Title"] = "Workouts";
}

<h1>Workouts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.workoutTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.workoutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.workoutThumbnail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.workoutTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.workoutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.workoutThumbnail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>|
                @Html.ActionLink("View Workouts", "Index", "Workouts", new { id = item.ID }) |
                @Html.ActionLink("Add Workout", "CreateWorkout", new { id = item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
